<footer class="footer">
  <div class="button button-round">
    <a href="#top" class="button-contents">
      <include src="./svg/ico-arrow.html"></include>
    </a>
  </div>
  <div class="wrapper">
    <nav class="footer__menu--sections">
      <ul>
        <li>
          <a
            class="footer__link"
            href="https://adalab.es/"
            target="_blank"
            alt="Menu button - Click to visit Adalab.es"
            title="Visit Adalab.es"
            >articles</a
          >
        </li>
        <li>
          <a
            class="footer__link"
            href="https://adalab.es/"
            target="_blank"
            alt="Menu button - Click to visit Adalab.es"
            title="Visit Adalab.es"
            >books</a
          >
        </li>
        <li>
          <a
            class="footer__link"
            href="https://adalab.es/"
            target="_blank"
            alt="Menu button - Click to visit Adalab.es"
            title="Visit Adalab.es"
            >events</a
          >
        </li>
        <li>
          <a
            class="footer__link"
            href="https://adalab.es/"
            target="_blank"
            alt="Menu button - Click to visit Adalab.es"
            title="Visit Adalab.es"
            >reasons</a
          >
        </li>
        <li>
          <a
            class="footer__link"
            href="https://adalab.es/"
            target="_blank"
            alt="Menu button - Click to visit Adalab.es"
            title="Visit Adalab.es"
            >tips</a
          >
        </li>
      </ul>
    </nav>
    <nav class="footer__menu--socialMedia">
      <ul>
        <li>
          <a
            class="footer__link"
            href="https://adalab.es/"
            target="_blank"
            alt="Menu button - Click to visit Adalab.es"
            title="Visit Adalab.es"
            >twitter</a
          >
        </li>
        <li>
          <a
            class="footer__link"
            href="https://adalab.es/"
            target="_blank"
            alt="Menu button - Click to visit Adalab.es"
            title="Visit Adalab.es"
            >instagram</a
          >
        </li>
        <li>
          <a
            class="footer__link"
            href="https://adalab.es/"
            target="_blank"
            alt="Menu button - Click to visit Adalab.es"
            title="Visit Adalab.es"
            >mastodon.social</a
          >
        </li>
      </ul>
    </nav>
    <div class="footer__copyBlock">
      <small>
        &copy; 2020
      </small>
      <small>
        <span>we </span>
        <span class="heart"> &#10084; </span>
        <span> components</span>
      </small>
    </div>
  </div>
</footer>
