<footer class="footer">
  <div class="button button-round">button</div>
  <div class="footer__copyBlock">
    <small>
      &copy; 2020
    </small>
    <small>
      <span>we</span>
      <span class="heart">&hearts;</span>
      <span>components</span>
    </small>
  </div>
  <nav class="footer__menu--sections">
    <ul>
      <li><insert url="./link.html" alt="" title=""></insert></li>
      <li><insert url="./link.html" alt="" title=""></insert></li>
      <li><insert url="./link.html" alt="" title=""></insert></li>
      <li><insert url="./link.html" alt="" title=""></insert></li>
      <li><insert url="./link.html" alt="" title=""></insert></li>
    </ul>
  </nav>
  <nav class="footer__menu--socialMedia">
    <ul>
      <li><insert url="./link.html" alt="" title=""></insert></li>
      <li><insert url="./link.html" alt="" title=""></insert></li>
      <li><insert url="./link.html" alt="" title=""></insert></li>
      <li><insert url="./link.html" alt="" title=""></insert></li>
      <li><insert url="./link.html" alt="" title=""></insert></li>
    </ul>
  </nav>
</footer>
