<header class="header">
  <a
    class="header__menu-button"
    href="https://adalab.es/"
    target="_blank"
    title="Visit Adalab.es"
    alt="Menu button - Click to visit Adalab.es"
  >
    <include src="./svg/ico-menu.html"></include>
  </a>

  <div class="wrapper hero" id="top">
    <h1 class="header__title">
      <span>anonymous</span>
      <span>proxy</span>
    </h1>
    <span class="header__claim">In hac habitasse platea dictumst.</span>

    <a href="#main__reasons" class="button button-round">
      <div class="button-contents">
        <include src="./svg/ico-scroll-down.html"></include></div
    ></a>
  </div>
</header>
