<header class="header">
  <nav class="header__menu-button">
    <include src="./svg/ico-menu.html"></include>
  </nav>
  
    <div class="wrapper">
      <h1 class="header__title">
        <span>anonymous</span>
        <span>proxy</span>
      </h1>
      <span class="header__claim">In hac habitasse platea dictumst.</span>
    </div>
  
  <div class="button button-round">
    <div class="button-contents" ><include src="./svg/ico-scroll-down.html"></include></divclass="button-contents" >
  </div>
</header>
