<section class="main__reasons" id="main__reasons">
  <div class="wrapper">
    <h2 class="main__reasons--title">3 reasons to purchase</h2>
    <div class="main__reasons--block">
      <h3>Ut sed metus</h3>
      <p>Lorem ipsum dolor sit amet, molestie consecteur.</p>
    </div>
    <div class="main__reasons--block">
      <h3>Ut sed metus</h3>
      <p>Lorem ipsum dolor sit amet, molestie consecteur.</p>
    </div>
    <div class="main__reasons--block">
      <h3>Ut sed metus</h3>
      <p>Lorem ipsum dolor sit amet, molestie consecteur.</p>
    </div>
    <a href="#" class="button button-contrast button-flip">
      <span class="button-contents">
        More reasons
      </span>
    </a>
  </div>
</section>
