<section class="main__reasons" id="main__reasons">
  <div class="wrapper">
    <h2 class="main__reasons--title">3 reasons to purchase</h2>
    <div class="main__reasons--block">
      <h3 class="main__reasons--blockTitle">Ut sed metus</h3>
      <p class="main__reasons--blockText">
        Lorem ipsum dolor sit amet, molestie consecteur.
      </p>
    </div>
    <div class="main__reasons--block">
      <h3 class="main__reasons--blockTitle">Curabitur ac erat</h3>
      <p class="main__reasons--blockText">
        Lorem ipsum dolor sit amet, molestie consecteur.
      </p>
    </div>
    <div class="main__reasons--block">
      <h3 class="main__reasons--blockTitle">Morbi dictum</h3>
      <p class="main__reasons--blockText">
        Lorem ipsum dolor sit amet, molestie consecteur.
      </p>
    </div>
    <a
      href="#"
      title="See more reasons to purchase"
      class="button button-contrast button-colorFill"
    >
      <span class="button-contents">
        More reasons
      </span>
    </a>
  </div>
</section>
