<section class="main__articles">
  <div class="wrapper">
    <article class="main__articles--post">
      <span class="main__articles--postCategory">insomnia tips</span>
      <h2 class="main__articles--postTitle">looking through a window</h2>
      <p class="main__articles--postText">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias tempora,
        molestias esse voluptatem magnam, nobis autem similique?
      </p>
      <a href="#" class="button button-fill">
        <span class="button-contents">
          Go
        </span>
      </a>
    </article>
  </div>
</section>
