// FONTS
$font-main: "Roboto", sans-serif;
$font-titles: "Roboto Slab", serif;

$font-weight-lt: 300;
$font-weight-reg: 400;
$font-weight-med: 500;
$font-weight-bold: 700;

$default-font-size: 18;

// COLORS
$color-white: #ffffff;
$color-black: #000000;
$color-grey: #4a4a4a;
$color-dark: #304268;
$color-light: #8ccbea;
$color-light2: #eff9ff;
$color-contrast: #f26002;
$color-accents: #0271bc;

// BREAKPOINTS
$tablet: 768px;
$desktop: 1200px;

// ASSETS

$asset-base-path: "../";
