.header {
  background-image: asset("images", "cover.jpg");
  background-position: center top;
  height: 100vh;

  &__menu-button {
    background-color: $color-accents;
    width: fit-content;
    padding: 15px 14px;
    position: fixed;
    top: 0;
    left: 0;
  }
}
