.main__articles {
  // .wrapper {
  //   @include desktop {
  //     scroll-padding-top: 60;
  //   }
  // }
  &--post {
    h2 {
      font-size: rem(24);
      color: $color-black;
      text-transform: capitalize;
      font-family: $font-titles;
      @include tablet {
        font-size: rem(26);
      }
      @include desktop {
        font-size: rem(32);
      }
    }
    p {
      font-size: rem(18);
      margin: 15px 0 30px;
      line-height: 30px;
      @include tablet {
        margin: 30px 0;
        font-size: rem(20);
      }
    }
  }
  &--postCategory {
    display: block;
    font-size: rem(14);
    color: $color-light;
    letter-spacing: 1.2px;
    text-transform: capitalize;
    padding: 10px 0;
    @include desktop {
      font-size: rem(16);
    }
  }
}
