.main__reasons {
  background-color: $color-light2;
  text-align: center;

  &--title {
    font-size: rem(24);
    font-family: $font-titles;
    text-transform: capitalize;
    margin-bottom: 45px;
  }
  &--block {
    padding: 0 55px 45px;
    &h3 {
      font-family: $font-titles;
    }
  }
  .button-contrast {
    margin: 0 auto 15px;
  }
}
